UniversalDownloader/bin/
BatchDownloaderUC/obj/
UniversalDownloader/obj/
UniversalDownloaderUnitTests/bin/
UniversalDownloaderUnitTests/obj/
BatchDownloaderUC/bin/
CustomProtocolImplementation/obj/
FTPImplementation/obj/
